In [1]:
print("what's up ?")

what's up ?

In [2]:
print("hello \nhumans")

hello
humans

In [3]:
len("dude she is just not into you")

29

In [4]:
my_string = "Dundundun boop"

In [8]:
print(my_string[2])
print(my_string[0])
print(my_string[-2])

n
D
o

In [15]:
# from index to end 
print(my_string[2:])

# go upto but not including index position from start
print(my_string[:5])

# grab some middle letters
print(my_string[2:10])

# go all the way from beginning to end
print(my_string[::])

# get even characters
print(my_string[1::2])

ndundun boop
Dundu
ndundun
Dundundun boop
udnu op

In [16]:
# reverse a string
print(my_string[::-1])

poob nudnudnuD

### Immutability

In [17]:
name = "Hrishi"

In [18]:
name[0] = "K"

TypeError: 'str' object does not support item assignment

### Concatenation

In [19]:
last_letters = name[1:]
'K' + last_letters

'Krishi'

In [20]:
name = 'K' + last_letters

In [21]:
print(name)

Krishi

In [23]:
letter = 'h'
letter * 20

'hhhhhhhhhhhhhhhhhhhh'

### Other methods

In [26]:
# Doesnt affect original string
my_string.upper()

'DUNDUNDUN BOOP'

In [27]:
my_string

'Dundundun boop'

In [28]:
# Doesnt affect original string
my_string.split()

['Dundundun', 'boop']

In [30]:
# Doesnt affect original string
my_string.split('u')

['D', 'nd', 'nd', 'n boop']

### Formatting with .format() method

In [32]:
print("Hello {}".format('programmer'))

Hello programmer

In [33]:
print("The {} played with the {}".format('cat', 'snake'))

The cat played with the snake

In [34]:
print("The {1} played with the {0}".format('cat', 'snake'))

The snake played with the cat

In [35]:
print("The {c} played with the {s}".format(c='cat', s='snake'))

The cat played with the snake

In [36]:
print("The {c} played with the {c}".format(c='cat', s='snake'))

The cat played with the cat

#### Float formatting with .format()

In [37]:
result = 100/899

In [38]:
result

0.11123470522803114

In [42]:
print("Result: {r:1.5f}".format(r=result))
print("Result: {r:10.5f}".format(r=result))

Result: 0.11123
Result:    0.11123

In [44]:
result2 = 999.9999991
print("Result: {r:1.5f}".format(r=result2))
print("Result: {r:20.5f}".format(r=result2))

Result: 1000.00000
Result:           1000.00000

In [46]:
name="Kitty"
print(f'Name is {name}')

age=18
print(f'{name} is {age} years old')

Name is Kitty
Kitty is 18 years old